<div class="header">
</div>
<div class="row sections dashboard">
  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Recent Activity</h5>
      {{#each activities as |activity|}}
        <div class="rowCard row">
          <div class="col-sm-4 details">
            <strong>{{activity.timeFormatted}}</strong>
          </div>
          <div class="col-sm-6 details">
            {{activity.result}}
          </div>
          <div class="col-sm-2 details text-right">
            <a {{action "deleteActivity" activity}}>{{fa-icon "times"}}</a>
          </div>
        </div>
      {{else}}
        <div class="rowCard row">
          <div class="col-sm-12 details">
            No Activity
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Top Suppliers</h5>
      {{#each suppliers as |supplier|}}
        <div class="rowCard row">
          <div class="col-sm-10 details">
            {{supplier.name}}
          </div>
          <div class="col-sm-2 details text-right">
            {{#unless supplier.bard}}
              {{#unless supplier.onHold}}
                <a>{{fa-icon "send"}}</a>
              {{/unless}}
            {{/unless}}
          </div>
        </div>
      {{else}}
        <div class="rowCard">
          <div class="col-sm-10 details">
            <strong>No Suppliers Found</strong>
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "plus"}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>