<div class="row card">
  <div class="col-xm-12 col-sm-10 col-md-10 search">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search stock, supplier or order..." aria-describedby="input">
      <span class="input-group-addon" id="input"><button class="btn-search">{{fa-icon "search"}}</button></span>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 hidden-xs">
    <button class="btn order-btn">Order</button>
  </div>
</div>

<div class="row sections">
  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Recent Activity</h5>
      <div class="rowCard">
        <div class="col-sm-10 details">
          Brake Kit from Pier One Imports
        </div>
        <div class="col-sm-2 details text-right">
          <strong>8</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Top Suppliers</h5>
      {{#each suppliers as |supplier|}}
        <div class="rowCard">
          <div class="col-sm-10 details">
            {{supplier.name}}
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "send"}}</a>
          </div>
        </div>
      {{else}}
        <div class="rowCard">
          <div class="col-sm-10 details">
            <strong>No Suppliers Found</strong>
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "plus"}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>