<div class="row sections">
  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Recent Activity</h5>
      {{#each activity as |activity|}}
        <div class="rowCard row">
          <div class="col-sm-3 details">
            <strong>{{activity.timeFormatted}}</strong>
          </div>
          <div class="col-sm-9 details">
            {{activity.result}}
          </div>
        </div>
      {{else}}
        <div class="rowCard row">
          <div class="col-sm-12 details">
            No Activity
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-12 card">
      <h5>Top Suppliers</h5>
      {{#each suppliers as |supplier|}}
        <div class="rowCard row">
          <div class="col-sm-10 details">
            {{supplier.name}}
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "send"}}</a>
          </div>
        </div>
      {{else}}
        <div class="rowCard">
          <div class="col-sm-10 details">
            <strong>No Suppliers Found</strong>
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "plus"}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>