<div class="header">
</div>
<div class="row sections dashboard">
    <div class="col-sm-6">
      {{#if lowStock}}
        <div class="col-sm-12 card lowStock">
          {{#each lowStock as |item|}}
            <div class="rowCard row">
              <a {{action "selectStockItem" item}}>
                <div class="col-sm-3 details">
                  <strong>{{item.name}}</strong>
                </div>
                <div class="col-sm-4 details">
                  Stock: <strong>{{item.quantity}}</strong>
                </div>
                <div class="col-sm-5 details">
                  <strong>{{item.supplier.name}}</strong>
                </div>
              </a>
            </div>
          {{else}}
            <div class="rowCard">
              <div class="col-sm-10 details">
                <strong>Stock Not Low</strong>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}

    <div class="col-sm-12 card activity">
      <h5>Recent Activity</h5>
      {{#each activities as |activity|}}
        <div class="rowCard row">
          <div class="col-sm-4 details">
            <strong>{{activity.timeFormatted}}</strong>
          </div>
          <div class="col-sm-6 details">
            {{activity.result}}
          </div>
          <div class="col-sm-2 details text-right">
            <a {{action "deleteActivity" activity}}>{{fa-icon "times"}}</a>
          </div>
        </div>
      {{else}}
        <div class="rowCard row">
          <div class="col-sm-12 details">
            No Activity
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-12 card suppliers">
      <h5>Top Suppliers</h5>
      {{#each suppliers as |supplier|}}
        <div class="rowCard row">
          <div class="col-sm-7 details">
            {{supplier.name}}
          </div>
          <div class="col-sm-5 details text-right">
            {{#if supplier.canOrder}}
                <button class="btn btn-primary" {{action "order" supplier}}>Place Order</button>
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="rowCard">
          <div class="col-sm-10 details">
            <strong>No Suppliers Found</strong>
          </div>
          <div class="col-sm-2 details text-right">
            <a>{{fa-icon "plus"}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>