<div class="side-menu">
  <h3 class="topTaskBar">M<strong>M</strong></h3>
  <ul>
    <li class="{{if page.dashboard "active"}}">{{#link-to "dashboard"}}{{material-design-icon name='dashboard'}} Dashboard{{/link-to}}</li>
    <li class="{{if page.suppliers "active"}}">{{#link-to "suppliers"}}{{material-design-icon name='contact-mail'}} Suppliers{{/link-to}}</li>
    <li class="{{if page.stock "active"}}">{{#link-to "stock"}}{{material-design-icon name='store'}} Stock{{/link-to}}</li>
    <li class="{{if page.bikes "active"}}">{{#link-to "bikes"}}{{material-design-icon name='directions-bike'}} Bikes{{/link-to}}</li>
    <li class="{{if page.orders "active"}}">{{#link-to "orders"}}{{material-design-icon name='shopping-cart'}} Orders{{/link-to}}</li>
    <li class="{{if page.receivedGoods "active"}}">{{#link-to "received-goods"}}{{material-design-icon name='local-shipping'}} Deliveries{{/link-to}}</li>
  </ul>
</div>