<div class="orders">
  {{#liquid-if view class="nextPage"}}
    <div class="row sections">
      <div class="col-sm-12">
        <div class="col-sm-12 card">
          <div class="col-sm-8"><h5>Orders</h5></div>
          <div class="col-sm-4 right text-right">
            <button class="btn btn-primary" {{action "new"}}>New Order</button>
          </div>
          <div class="col-xs-12">
            {{#if sortedModel}}
              <div class="rowCard row">
                <div class="col-sm-3 details">
                  <strong>Transaction ID</strong>
                </div>
                <div class="col-sm-2 details">
                  <strong>Created</strong>
                </div>
                <div class="col-sm-2 details">
                  <strong>ETA</strong>
                </div>
                <div class="col-sm-3 details">
                  <strong>Supplier</strong>
                </div>
                <div class="col-sm-1 details text-center">
                  <strong>Total</strong>
                </div>
                <div class="col-sm-1 options text-right">
                  <strong>Cancel</strong>
                </div>
              </div>
            {{/if}}

            {{#each sortedModel as |transaction|}}
              <div class="rowCard row">
                <div class="col-sm-3 details">
                  <a {{action "select" transaction}}>{{transaction.transactionID}}</a>
                </div>
                <div class="col-sm-2 details">
                  {{transaction.orderDateFormatted}}
                </div>
                <div class="col-sm-2 details">
                  {{transaction.etaFormatted}}
                </div>
                <div class="col-sm-3 details">
                  {{transaction.supplier.name}}
                </div>
                <div class="col-sm-1 details text-center">
                  {{transaction.totalHuman}}
                </div>
                <div class="col-sm-1 options text-right">
                  {{#if transaction.canCancel}}
                    <a {{action "delete" transaction}}>{{fa-icon "times"}}</a>
                  {{/if}}
                </div>
              </div>
            {{else}}
              <div class="rowCard row">
                <div class="col-sm-12 details">
                  <small>No Orders Found</small>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="row sections">
      <div class="col-sm-4 hidden-xs col-md-4">
        <div class="col-sm-12 card">
          {{#unless editMode}}<h3>New Order</h3>{{else}}<h3>{{transaction.transactionID}}</h3>{{/unless}}
          {{#if editMode}}
            <h3>{{transaction.formattedTotal}}</h3>
            <p>
              Supplier: <a {{action "goToSupplier" transaction.supplier}}>{{transaction.supplier.name}}</a><br>
              Contact: {{transaction.supplier.contact}}<br>
              Order Lines: {{transaction.lines.length}}<br><br>
              ETA: <strong>{{transaction.etaHuman}}</strong><br><br>
              Note:<br>
              {{textarea class="form-control" value=transaction.note readonly=true}}
            </p>
            {{#if transaction.canCancel}}
              <div class="col-sm-6 text-left buttons">
                <button class="btn btn-danger" {{action "delete" transaction}}>Cancel</button>
              </div>
              <div class="col-sm-6 text-right buttons">
                <button class="btn btn-default" {{action "update"}}>Update</button>
              </div>
            {{/if}}
          {{else}}
            <h3>{{total}}</h3>
            <p>
              You first need to select a supplier to order from. Once you have chosen a supplier, the list on the right will show all stock from that supplier. You can select the items you would like to order with a quantity. Once you have completed adding lines and quantities, click the send order button to send the purchase requisition to the finance department.
            </p>

            <div class="form-group {{if selectedSupplier 'green'}} {{unless selectedSupplier 'red'}}">
              <label>Supplier*</label>
              <form>
                <select class="form-control" onchange={{action 'selectSupplier' value="target.value"}}>
                  {{#if selectedSupplier}}
                    <option value={{selectedSupplier.id}}>{{selectedSupplier.name}}</option>
                  {{/if}}

                  {{#each suppliers as |supplier|}}
                    {{#if supplier.canOrder}}
                      <option value={{supplier.id}}>{{supplier.name}}</option>
                    {{/if}}
                  {{/each}}
                </select>
                <br>
                <div class="form-group {{if transaction.note "green"}}">
                  <label>Note</label>
                  {{input type="text" class="form-control note" value=transaction.note}}
                </div>
              </form>
              <div class="col-sm-6 text-left buttons">
                <button class="btn btn-default text-left" {{action "addItem"}}>Add Item</button>
              </div>

              <div class="col-sm-6 text-right buttons">
                <button class="btn btn-default" {{action "placeOrder"}}>Send Order</button>
              </div>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="col-sm-12 card nonScroll">
          <div class="col-sm-12 right text-right">
            {{#if editMode}}<button class="btn btn-primary" {{action "goToDelivery" transaction}}>Go To Delivery</button>{{/if}}
            <button class="btn btn-primary" {{action "back"}}>Orders</button>
          </div>
          <div class="col-xs-12">
            <form class="cards">

              {{#unless editMode}}
                {{#if selectedSupplier.stock}}
                  <h5>{{selectedSupplier.name}}</h5>
                  <div class="rowCard row">
                    <div class="col-sm-3 details">
                      <strong>Name</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Trade Price</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Order</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Total</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Stock</strong>
                    </div>
                    <div class="col-sm-1 options text-right">
                      <strong>Selected</strong>
                    </div>
                  </div>
                {{/if}}
              {{else}}
                {{#if transaction.lines}}
                  <h5>{{selectedSupplier.name}}</h5>
                  <div class="rowCard row">
                    <div class="col-sm-4 details">
                      <strong>Name</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Trade Price</strong>
                    </div>
                    <div class="col-sm-3 details">
                      <strong>Ordered</strong>
                    </div>
                    <div class="col-sm-2 details">
                      <strong>Total</strong>
                    </div>
                    <div class="col-sm-1 options text-right">
                      <strong>Selected</strong>
                    </div>
                  </div>
                {{/if}}
              {{/unless}}

              {{#if editMode}}
                {{#each transaction.lines as |item|}}
                  <div class="rowCard row {{if item.checked "checked"}}">
                    <div class="col-sm-4 details" {{action "selectLine" item}}>
                      {{item.name}}
                    </div>
                    <div class="col-sm-2 details" {{action "selectLine" item}}>
                      {{item.formattedPrice}}
                    </div>
                    <div class="col-sm-3 details">
                      <small>Ordered Quantity: <strong>{{item.quantity}}</strong></small>
                      {{#if transaction.canCancel}}
                        {{input type="number" class="form-control newQty" value=item.newQuantity placeholder="0"}}
                      {{/if}}
                    </div>
                    <div class="col-sm-2 details">
                      {{item.formattedTotal}}
                    </div>
                    <div class="col-sm-1 options text-right" {{action "selectLine" item}}>
                      {{#if item.checked}}
                        {{fa-icon "check"}}
                      {{else}}
                        {{fa-icon "square-o"}}
                      {{/if}}
                    </div>
                  </div>
                {{else}}
                  <h5>Order Will Be Canceled</h5>
                  <br>
                  <small>To save these changes, click the update button on the left</small>
                {{/each}}
              {{else}}
                {{#each selectedSupplier.stock as |item|}}
                  <div class="rowCard row {{if item.checked "checked"}}">
                    <div class="col-sm-3 details" {{action "selectLine" item}}>
                      {{item.name}}
                    </div>
                    <div class="col-sm-2 details">
                      {{item.formattedTrade}}
                    </div>
                    <div class="col-sm-2 details {{if item.orderQuantity "green"}}">
                      {{input type="number" class="form-control qty" value=item.orderQuantity placeholder="0"}}
                    </div>
                    <div class="col-sm-2 details" {{action "selectLine" item}}>
                      {{item.formattedTotal}}
                    </div>
                    <div class="col-sm-2 details" {{action "selectLine" item}}>
                      {{item.quantity}}
                    </div>
                    <div class="col-sm-1 options text-right" {{action "selectLine" item}}>
                      {{#if item.checked}}
                        {{fa-icon "check"}}
                      {{else}}
                        {{fa-icon "square-o"}}
                      {{/if}}
                    </div>
                  </div>
                {{else}}
                  <h5>No Stock From {{selectedSupplier.name}}</h5>
                  <br>
                  <small>You need to add the items you want to order in the stock section</small>
                {{/each}}
              {{/if}}
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/liquid-if}}
</div>