{{#liquid-if view class="nextPage"}}
  <div class="row sections stockList">
    <div class="col-sm-12">
      <div class="col-sm-8 card">
        <div class="col-sm-8"><h5>Component Stock</h5></div>
        <div class="col-sm-4 right text-right">
          <button class="btn btn-default" {{action "new"}}>New</button>
        </div>
        <div class="col-xs-12">
          {{#if sortedModel}}
            <div class="rowCard row">
              <div class="col-sm-2 details">
                <strong>Component</strong>
              </div>
              <div class="col-sm-3 details">
                <strong>Supplier</strong>
              </div>
              <div class="col-sm-2 details">
                <strong>Available Quantity</strong>
              </div>
              <div class="col-sm-1 details">
                <strong>Trade</strong>
              </div>
              <div class="col-sm-1 details">
                <strong>Retail</strong>
              </div>
              <div class="col-sm-2 details text-center">
                <strong>Group</strong>
              </div>
              <div class="col-sm-1 options text-right">
                <strong>Options</strong>
              </div>
            </div>
          {{/if}}

          {{#each sortedModel as |item|}}
            <div class="rowCard row">
              <div class="col-sm-2 details">
                <strong><a {{action "select" item}}>{{item.name}}</a></strong>
              </div>
              <div class="col-sm-3 details">
                {{item.supplier.tradingName}}
              </div>
              <div class="col-sm-2 details">
                {{item.quantity}} {{#if item.quantityOnHold}} ({{item.quantityOnHold}} on hold){{/if}}
              </div>
              <div class="col-sm-1 details">
                {{item.formattedTrade}}
              </div>
              <div class="col-sm-1 details">
                {{item.formattedRetail}}
              </div>
              <div class="col-sm-2 details text-center">
                {{#if item.group}}
                  {{item.group.name}}
                {{else}}
                  N/A
                {{/if}}
              </div>
              <div class="col-sm-1 options text-right">
                <a {{action "delete" item}}>{{fa-icon "times"}}</a>
              </div>
            </div>
          {{else}}
            <div class="rowCard row">
              <div class="col-sm-12 details">
                <small>No Stock Found</small>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <h5>Reserve Stock For Order<br><small>Stock can only be put on hold for 24 hours</small></h5>
          <br>
          <div class="form-group">
            <label for="orderID">Item*</label>
            <select class="form-control" onchange={{action 'selectItemForReserve' value="target.value"}}>
              {{#each sortedModel as |item|}}
                {{#if item.quantity}}
                  <option value={{item.id}}>{{item.name}}</option>
                {{/if}}
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="ref">Reference</label>
            {{input type="string" class="form-control" id="ref" placeholder="Reference" value=reserve.ref}}
          </div>

          <div class="form-group">
            <label for="cusNam">Customer Name*</label>
            {{input type="string" class="form-control" id="cusNam" placeholder="Customer Name" value=reserve.customerName}}
          </div>

          <div class="form-group">
            <label for="holdQty">Quantity To Put On Hold*</label>
            {{input type="number" class="form-control" id="holdQty" placeholder="0" value=reserve.quantity}}
          </div>

          <button class="btn btn-primary" {{action "reserve"}}>Put Quantity On Hold</button>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row sections">
    <div class="col-sm-4 hidden-xs col-md-4">
      <div class="col-sm-12 card">{{#unless editMode}}<h3>New Item</h3>{{else}}<h3>{{item.name}}</h3>{{/unless}}</div>
      <div class="col-sm-12 card">
      {{#if editMode}}
        <p>
          Barcode: <strong>{{item.barcode}}</strong><br>
          Group: <strong>{{item.group.name}}</strong><br>
          Supplier: <a {{action "goToSupplier" item.supplier}}>{{item.supplier.name}}</a><br><br>

          Trade: <strong>{{item.formattedTrade}}</strong><br>
          Retail: <strong>{{item.formattedRetail}}</strong><br><br>

          Stock in Warehouse <strong>{{item.warehouseQuantity}}</strong><br>
          Available Stock: <strong>{{item.quantity}}</strong><br>
          Stock On Hold: <strong>{{item.quantityOnHold}}</strong><br><br>

          <div class="form-group onHoldList">
            <label for="onHold">On Hold</label>
            <div class="col-sm-12 card">
              {{#each item.reservedStock as |onHold|}}
                <div class="rowCard">
                  <div class="col-sm-4 details text-left">
                    {{onHold.customerName}}
                  </div>
                  <div class="col-sm-5 details">
                    {{onHold.ref}}
                  </div>
                  <div class="col-sm-2 details">
                    <strong>{{onHold.quantity}}</strong>
                  </div>
                  <div class="col-sm-1 details text-right">
                    <a {{action "deleteOnHold" onHold}}>{{fa-icon "times"}}</a>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </p>
      {{else}}
        <p>
          To add an item, you need to fill in all the information on the right. You need to provide a name, its supplier, the stock quantity, minimum quantity, retail price and trade price. The group is optional. To create a group click the "Add Group" text.
        </p>
      {{/if}}
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="col-sm-12 card">
        <div class="col-sm-12 right text-right">
          <button class="btn btn-default" {{action "back"}}>Stock</button>
        </div>
        <div class="col-xs-12">
          <form>
            <div class="col-sm-12">
              <div class="form-group {{if item.name 'green'}} {{unless item.name 'red'}}">
                <label for="name">Name*</label>
                {{input type="text" class="form-control" id="name" placeholder="Name" value=item.name}}
              </div>
              <br>
            </div>

            <div class="col-sm-6">
              <div class="form-group {{if item.warehouseQuantity 'green'}} {{unless item.warehouseQuantity  'red'}}">
                <label for="qty">Warehouse Quantity* {{#if item.quantityOnHold}}({{item.quantityOnHold}} on hold){{/if}}</label>
                {{input type="number" class="form-control" id="qty" placeholder="Quantity" value=item.warehouseQuantity }}
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group {{if item.minQuantity 'green'}} {{unless item.minQuantity 'red'}}">
                <label for="mQty">Minimum Quantity*</label>
                {{input type="number" class="form-control" id="mQty" placeholder="Minimum Quantity" value=item.minQuantity}}
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group {{if item.trade 'green'}} {{unless item.trade 'red'}}">
                <label for="tP">Trade Price*</label>
                {{input type="number" class="form-control" id="tP" placeholder="Trade" value=item.trade}}
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group {{if item.retail 'green'}} {{unless item.retail 'red'}}">
                <label for="retail">Retail Price*</label>
                {{input type="number" class="form-control" id="retail" placeholder="Retail" value=item.retail}}
              </div>
            </div>

            <div class="col-sm-12">
              <br>
              <div class="form-group {{if selectedSupplier 'green'}} {{unless selectedSupplier 'red'}}">
                <label>Supplier*</label>
                <select class="form-control" onchange={{action 'selectSupplier' value="target.value"}}>
                  {{#if item.supplier}}
                    <option value={{item.supplier.id}}>{{item.supplier.name}}</option>
                  {{/if}}

                  {{#each suppliers as |supplier|}}
                    {{#if supplier.canOrder}}
                      <option value={{supplier.id}}>{{supplier.name}}</option>
                    {{/if}}
                  {{/each}}
                </select>
              </div>

              <div class="form-group">
                <br>
                {{#if newGroup}}
                  <div class="form-group {{if groupName 'green'}}">
                    <label>Item Group Name</label> <a {{action "toggleNewGroup"}}>Select Group</a>
                    {{input type="text" class="form-control" placeholder="Group Name" value=groupName}}
                  </div>
                {{else}}
                  <div class="form-group {{if selectedGroup 'green'}}">
                    <label>Item Group (Leave blank if no group for item)</label> <a {{action "toggleNewGroup"}}>Add Group</a>
                    <select class="form-control" onchange={{action 'selectGroup' value="target.value"}}>
                      {{#if item.group}}
                        <option value={{item.group.id}}>{{item.group.name}}</option>
                      {{/if}}

                      {{#each groups as |group|}}
                        <option value={{group.id}}>{{group.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                {{/if}}
              </div>

              {{#if editMode}}
                <div class="col-sm-6 text-left buttons">
                  <button class="btn btn-danger" {{action "delete" item}}>Delete</button>
                </div>
                <div class="col-sm-6 text-right buttons">
                  <button class="btn btn-primary" {{action "update"}}>Update</button>
                </div>
              {{else}}
                <div class="col-sm-12 text-right buttons">
                  <button class="btn btn-primary" {{action "save"}}>Add Item</button>
                </div>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}