{{#liquid-if view class="nextPage"}}
  <div class="row sections">
    <div class="col-sm-12">
      <div class="col-sm-12 card">
        <div class="col-sm-8"><h5>Stock</h5></div>
        <div class="col-sm-4 right text-right">
          <button class="btn btn-primary" {{action "new"}}>New</button>
        </div>
        <div class="col-xs-12">
          {{#if model}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong>Item</strong>
              </div>
              <div class="col-sm-3 details">
                <strong>Supplier</strong>
              </div>
              <div class="col-sm-2 details">
                <strong>Quantity</strong>
              </div>
              <div class="col-sm-2 details text-center">
                <strong>Group</strong>
              </div>
              <div class="col-sm-2 options text-right">
                <strong>Options</strong>
              </div>
            </div>
          {{/if}}

          {{#each model as |item|}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong>{{item.name}}</strong>
              </div>
              <div class="col-sm-3 details">
                {{item.supplier.tradingName}}
              </div>
              <div class="col-sm-2 details">
                {{item.quantity}}
              </div>
              <div class="col-sm-2 details text-center">
                {{#if item.group}}
                  {{item.group.name}}
                {{else}}
                  N/A
                {{/if}}
              </div>
              <div class="col-sm-2 options text-right">
                <a {{action "select" item}}>{{fa-icon "pencil"}}</a>
                <a {{action "delete" item}}>{{fa-icon "times"}}</a>
              </div>
            </div>
          {{else}}
            <div class="rowCard row">
              <div class="col-sm-12 details">
                <small>No Stock Found</small>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row sections">
    <div class="col-sm-4 hidden-xs col-md-4">
      <div class="col-sm-8">{{#unless editMode}}<h3>New Item</h3>{{else}}<h3>{{item.name}}</h3>{{/unless}}</div>
      <div class="col-sm-12">
      {{#if editMode}}
        <p>
          Barcode: <strong>{{item.barcode}}</strong><br>
          Group: <strong>{{item.group.name}}</strong><br>
          Suplier: <strong>{{item.supplier.name}}</strong><br>
        </p>
      {{else}}
        <p>
          In order to add an item, you need to first fill in all the information on the left. You need to provide a name, its supplier, the quantiy and minimum quantity. The group is optional. To create a group click the "Add Group" text.
        </p>
      {{/if}}
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="col-sm-12 card">
        <div class="col-sm-12 right text-right">
          <button class="btn btn-primary" {{action "back"}}>Back</button>
        </div>
        <div class="col-xs-12">
          <form>
            <div class="form-group {{if item.name 'green'}} {{unless item.name 'red'}}">
              <label for="name">Name*</label>
              {{input type="text" class="form-control" id="name" placeholder="Name" value=item.name}}
            </div>

            <div class="form-group {{if item.quantity 'green'}} {{unless item.quantity 'red'}}">
              <label for="qty">Quantity*</label>
              {{input type="number" class="form-control" id="qty" placeholder="Quantity" value=item.quantity}}
            </div>

            <div class="form-group {{if item.minQuantity 'green'}} {{unless item.minQuantity 'red'}}">
              <label for="mQty">Minimum Quantity*</label>
              {{input type="number" class="form-control" id="mQty" placeholder="Minimum Quantity" value=item.minQuantity}}
            </div>

            <div class="form-group {{if selectedSupplier 'green'}} {{unless selectedSupplier 'red'}}">
              <label>Supplier*</label>
              <select class="form-control" onchange={{action 'selectSupplier' value="target.value"}}>
                {{#if item.supplier}}
                  <option value={{item.supplier.id}}>{{item.supplier.name}}</option>
                {{/if}}

                {{#each suppliers as |supplier|}}
                  <option value={{supplier.id}}>{{supplier.name}}</option>
                {{/each}}
              </select>
            </div>

            <div class="form-group">
              <br>
              {{#if newGroup}}
                <div class="form-group {{if groupName 'green'}}">
                  <label>Item Group Name</label> <a {{action "toggleNewGroup"}}>Select Group</a>
                  {{input type="text" class="form-control" placeholder="Group Name" value=groupName}}
                </div>
              {{else}}
                <div class="form-group {{if selectedGroup 'green'}}">
                  <label>Item Group (Leave blank if no group for item)</label> <a {{action "toggleNewGroup"}}>Add Group</a>
                  <select class="form-control" onchange={{action 'selectGroup' value="target.value"}}>
                    {{#if item.group}}
                      <option value={{item.group.id}}>{{item.group.name}}</option>
                    {{/if}}

                    {{#each groups as |group|}}
                      <option value={{group.id}}>{{group.name}}</option>
                    {{/each}}
                  </select>
                </div>
              {{/if}}
              <br>
            </div>

            {{#if editMode}}
              <div class="col-sm-6 text-left buttons">
                <button class="btn btn-danger" {{action "delete" item}}>Delete</button>
              </div>
              <div class="col-sm-6 text-right buttons">
                <button class="btn btn-default" {{action "update"}}>Update</button>
              </div>
            {{else}}
              <div class="col-sm-12 text-right buttons">
                <button class="btn btn-default" {{action "save"}}>Add Item</button>
              </div>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}