{{#liquid-if view class="nextPage"}}
  <div class="row sections suppliersList">
    <div class="col-sm-12">
      <div class="col-sm-12 card">
        <div class="col-sm-8"><h4>Suppliers</h4></div>
        <div class="col-sm-4 right text-right">
          <button class="btn btn-default" {{action "new"}}>New Supplier</button>
        </div>
        <div class="col-xs-12">
          {{#if sortedModel}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong>Name</strong>
              </div>
              <div class="col-sm-4 details">
                <strong>Trading Name</strong>
              </div>
              <div class="col-sm-2 details">
                <strong>Status</strong>
              </div>
              <div class="col-sm-2 options">
                <strong>Place Order</strong>
              </div>
              <div class="col-sm-1 options text-right">
                <strong>Delete</strong>
              </div>
            </div>
          {{/if}}

          {{#each sortedModel as |supplier|}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong><a {{action "select" supplier}}>{{supplier.name}}</a></strong>
              </div>
              <div class="col-sm-4 details">
                {{supplier.tradingAddress}}
              </div>
              <div class="col-sm-2 details">
                <strong>{{supplier.status}}</strong>
              </div>
              <div class="col-sm-2">
                {{#if supplier.canOrder}}
                  <button class="btn btn-primary" {{action "order" supplier}}>Order</button>
                {{/if}}
              </div>
              <div class="col-sm-1 options text-right">
                <a {{action "delete" supplier}}>{{fa-icon "times"}}</a>
              </div>
            </div>
          {{else}}
            <div class="rowCard row">
              <div class="col-sm-12 details">
                <small>No Suppliers Found</small>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row sections">
    <div class="col-sm-4 hidden-xs col-md-4">
      <div class="col-sm-12 card">{{#unless editMode}}<h3>New Supplier</h3>{{else}}<h3>{{supplier.name}}</h3>{{/unless}}
      </div>
      <div class="col-sm-12 card">
        {{#if editMode}}
          <p>
            {{#if supplier.terminated}}<strong class="red">TERMINATED (READ ONLY)</strong><br>{{/if}}
            Trading Name: <strong>{{supplier.tradingName}}</strong><br>
            Trading Address: <br><strong>{{supplier.tradingAddress}}</strong><br><br>
            Returns Address: <br><strong>{{#if supplier.returnsAddress}}{{supplier.returnsAddress}}{{else}}Same as trading address{{/if}}</strong><br>
            <br>
            Performance Score: {{supplier.qualityPerformance}}
            <br>
            <small>The higher the percentage, the better the supplier. The score is calculated on the deliveries, if deliveries from the supplier contains missing stock then the score will decrease.</small>
          </p>
          {{#unless supplier.terminated}}
            <div class="col-sm-12">
              <button class="btn btn-default {{if supplier.isOk "selected"}}" {{action "updateStatus" "OK"}}>OK</button>
              <button class="btn btn-default {{if supplier.onHold "selected"}}" {{action "updateStatus" "ON HOLD"}}>ON
                HOLD
              </button>
              <button class="btn btn-default {{if supplier.bard "selected"}}" {{action "updateStatus" "BARD"}}>BARD
              </button>
            </div>
          {{/unless}}

          <div class="col-sm-12 card orderList">
            {{#if supplier.transactionHistory}}
              <h5>Orders</h5>
            {{/if}}
            {{#each supplier.transactionHistory as |transaction|}}
              <div class="rowCard row">
                <div class="col-sm-6 details">
                  <a {{action "selectOrder" transaction}}>{{transaction.transactionID}}</a>
                </div>
                <div class="col-sm-3 details">
                  {{transaction.orderDateFormatted}}
                </div>
                <div class="col-sm-3 details text-center">
                  {{transaction.totalHuman}}
                </div>
              </div>
            {{else}}
              <div class="rowCard row">
                <div class="col-sm-12 details">
                  <small>No Orders Found</small>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <p>
            When adding a new supplier, you need to fill in all the required fields. The returns address is optional, if
            you leave it blank the default returns address will be the same as the trading address.
          </p>
        {{/if}}
      </div>
    </div>

    <div class="col-sm-8 col-md-8">
      <div class="col-sm-12 card">
        <div class="col-sm-12 right text-right">
          <button class="btn btn-default" {{action "back"}}>Suppliers</button>
        </div>
        <div class="col-xs-12">
          <form>
            <div class="form-group {{if supplier.name 'green'}} {{unless supplier.name 'red'}}">
              <label for="name">Name*</label>
              {{input type="text" class="form-control" id="name" placeholder="Name" value=supplier.name readonly=supplier.terminated}}
            </div>

            <hr>
            <div class="form-group {{if supplier.tradingName 'green'}} {{unless supplier.tradingName 'red'}}">
              <label for="tName">Trading Name*</label>
              {{input type="text" class="form-control" id="tName" placeholder="Trading Name"value=supplier.tradingName readonly=supplier.terminated}}
            </div>

            <div class="form-group {{if supplier.tradingAddress 'green'}} {{unless supplier.tradingAddress 'red'}}">
              <label for="tAddress">Trading Address*</label>
              {{input type="text" class="form-control" id="tAddress" placeholder="Trading Address" value=supplier.tradingAddress readonly=supplier.terminated}}
            </div>
            <br>
            <div class="form-group {{if supplier.returnsAddress 'green'}}">
              <label for="rAddress">Returns Address (Leave blank if same as trading address)</label>
              {{input type="text" class="form-control" id="rAddress" placeholder="Returns Address"
                      value=supplier.returnsAddress}}
            </div>
            <br>
            <br>
            <div class="form-group  {{if supplier.contactName 'green'}} {{unless supplier.contactName 'red'}}">
              <label for="contactName">Contact Name*</label>
              {{input type="text" class="form-control" id="contactName" placeholder="Name" value=supplier.contactName readonly=supplier.terminated}}
            </div>
            <div class="form-group  {{if supplier.contactEmail 'green'}} {{unless supplier.contactEmail 'red'}}">
              <label for="contactEmail">Contact Email*</label>
              {{input type="email" class="form-control" id="contactEmail" placeholder="Email" value=supplier.contactEmail readonly=supplier.terminated}}
            </div>
            <div class="form-group  {{if supplier.contactNumber 'green'}} {{unless supplier.contactNumber 'red'}}">
              <label for="contactNumber">Contact Number*</label>
              {{input type="number" class="form-control" id="contactNumber" placeholder="Contact Number" value=supplier.contactNumber readonly=supplier.terminated}}
            </div>
            <br>

            {{#unless supplier.terminated}}
              {{#if editMode}}
                <div class="col-sm-6 buttons">
                  <button class="btn btn-danger" {{action "delete" supplier}}>Terminate</button>
                </div>

                <div class="col-sm-6 text-right  buttons">
                  <button class="btn btn-primary" {{action "update"}}>Update</button>
                </div>
              {{else}}
                <div class="col-sm-12 text-right buttons">
                  <button class="btn btn-primary" {{action "save"}}>Add Supplier</button>
                </div>
              {{/if}}
            {{/unless}}
          </form>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}