{{#liquid-if view class="nextPage"}}
  <div class="row sections suppliersList">
    <div class="col-sm-12">
      <div class="col-sm-12 card">
        <div class="col-sm-8"><h5>Suppliers</h5></div>
        <div class="col-sm-4 right text-right">
          <button class="btn btn-primary" {{action "new"}}>New Supplier</button>
        </div>
        <div class="col-xs-12">
          {{#if sortedModel}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong>Name</strong>
              </div>
              <div class="col-sm-4 details">
                <strong>Trading Name</strong>
              </div>
              <div class="col-sm-2 details">
                <strong>Status</strong>
              </div>
              <div class="col-sm-2 options">
                <strong>Place Order</strong>
              </div>
              <div class="col-sm-1 options text-right">
                <strong>Delete</strong>
              </div>
            </div>
          {{/if}}

          {{#each sortedModel as |supplier|}}
            <div class="rowCard row">
              <div class="col-sm-3 details">
                <strong><a {{action "select" supplier}}>{{supplier.name}}</a></strong>
              </div>
              <div class="col-sm-4 details">
                {{supplier.tradingAddress}}
              </div>
              <div class="col-sm-2 details">
                <strong>{{supplier.status}}</strong>
              </div>
              <div class="col-sm-2">
                {{#if supplier.canOrder}}
                  <button class="btn btn-primary" {{action "order" supplier}}>Order</button>
                {{/if}}
              </div>
              <div class="col-sm-1 options text-right">
                <a {{action "delete" supplier}}>{{fa-icon "times"}}</a>
              </div>
            </div>
          {{else}}
            <div class="rowCard row">
              <div class="col-sm-12 details">
                <small>No Suppliers Found</small>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row sections">
    <div class="col-sm-4 hidden-xs col-md-4">
      <div class="col-sm-12 card">{{#unless editMode}}<h3>New Supplier</h3>{{else}}<h3>{{supplier.name}}</h3>{{/unless}}</div>
      <div class="col-sm-12 card">
        {{#if editMode}}
          <p>
            Trading Name: <strong>{{supplier.tradingName}}</strong><br>
            Trading Address: <strong>{{supplier.tradingAddress}}</strong><br>
            Returns Address: <strong>{{supplier.returnsAddress}}</strong><br>
          </p>
          <div class="col-sm-12">
            <button class="btn btn-default {{if supplier.isOk "selected"}}" {{action "updateStatus" "OK"}}>OK</button>
            <button class="btn btn-default {{if supplier.onHold "selected"}}" {{action "updateStatus" "ON HOLD"}}>ON HOLD</button>
            <button class="btn btn-default {{if supplier.bard "selected"}}" {{action "updateStatus" "BARD"}}>BARD</button>
          </div>
        {{else}}
          <p>
            When adding a new supplier, you need to fill in all the reqiured fields. The returns address is optional, if you leave it blank the default returns address will be the same as the trading address.
          </p>
        {{/if}}
      </div>
    </div>

    <div class="col-sm-8 col-md-8">
      <div class="col-sm-12 card">
        <div class="col-sm-12 right text-right">
          <button class="btn btn-primary" {{action "back"}}>Back</button>
        </div>
        <div class="col-xs-12">
          <form>
            <div class="form-group {{if supplier.name 'green'}} {{unless supplier.name 'red'}}">
              <label for="name">Name*</label>
              {{input type="text" class="form-control" id="name" placeholder="Name" value=supplier.name}}
            </div>

            <hr>
            <div class="form-group {{if supplier.tradingName 'green'}} {{unless supplier.tradingName 'red'}}">
              <label for="tName">Trading Name*</label>
              {{input type="text" class="form-control" id="tName" placeholder="Trading Name" value=supplier.tradingName}}
            </div>

            <div class="form-group {{if supplier.tradingAddress 'green'}} {{unless supplier.tradingAddress 'red'}}">
              <label for="tAddress">Trading Address*</label>
              {{input type="text" class="form-control" id="tAddress" placeholder="Trading Address" value=supplier.tradingAddress}}
            </div>

            <hr>
            <div class="form-group {{if supplier.returnsAddress 'green'}}">
              <label for="rAddress">Returns Address (Leave blank if same as trading address)</label>
              {{input type="text" class="form-control" id="rAddress" placeholder="Returns Address" value=supplier.returnsAddress}}
            </div>

            <hr>
            <div class="form-group  {{if supplier.contact 'green'}} {{unless supplier.contact 'red'}}">
              <label for="contact">Contact Number*</label>
              {{input type="number" class="form-control" id="contact" placeholder="Contact Number" value=supplier.contact}}
            </div>
            <div class="col-sm-12 text-right buttons">
              {{#if editMode}}
                <button class="btn btn-default" {{action "update"}}>Update</button>
              {{else}}
                <button class="btn btn-default" {{action "save"}}>Add Supplier</button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}